.container__pagination{
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.container__page__number{
    font-size: 25px;
}

.container__button__page{
    margin-left: 10px;
}

button[disabled]:active, button[disabled]{
    border: none;
    color: GrayText;
    cursor: inherit;
    background-color: rgb(168, 168, 168);
    background: rgb(168, 168, 168);
  }

button[disabled]:active, button[disabled]:hover{
    opacity: 1;
}